

.border {
	border-radius: 10px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header2 {
	background-color:rgb(245, 245, 240);
}

.header3 {
	display: flex;
	align-items: flex-start;
}

.logo {
	background-color:#5cb95c;
}

.btn btn-success{
	background-color:#5cb95c;
}