<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<link rel="stylesheet" href="css/mystyle.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Contact</title>

</head>

<body>

	<header>
		<div class="header_part1">
			<div>
				<a class="btn btn-ok" href="/home">Pay My Buddy</a>
			</div>
			<div class="nav">
				<ul class="nav nav-tabs card-header-tabs">
					<li><a class="nav-link" href="/home">Home</a></li>
					<li><a class="nav-link" href="/transfer">Transfer</a></li>
					<li><a class="nav-link" href="/profile">Profile</a></li>
					<li><a class="nav-link active" href="/contact"
						aria-current="true">Contact</a></li>
					<!-- 					<li><a class="nav-link" href="/logout">Logoff</a></li> -->
					<li>
						<form method="post" th:action="@{/logout}">
							<input type="submit" class="nav-link" value="Log off">
						</form>
					</li>
				</ul>
			</div>
		</div>
		<div class="header_part2">
			<p class="py-2 mx-2">Home / Contact</p>
		</div>
	</header>

	<section>

		<div class="container special">
			<h2 class="h2">CONTACT</h2>
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>EMAIL</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-if="${pseudosFriendsOnly.empty}">
							<td colspan="2">No contact added to the database.</td>
						</tr>
						<tr>
							<form method="post" th:action="@{/contact}"
								th:object="${newFriendContact}">
								<td>
									<div class="form-group">
										<select id="emailFriend" th:field="*{emailFriend}"
											class="form-control">
											<option th:each="c:${emailsFriendsAvailable}" th:value="${c}"
												th:text="${c}"></option>
										</select> <small id="mailHelp" class="form-text text-muted">
											Select email address of your new friend. His nickname should
											appear in the list below !</small>
									</div>
								</td>
								<td>
									<button type="submit" class="btn btn-primary">ADD</button>
								</td>




							</form>
						</tr>

						<a href="/contact">
							<div data-th-if="${emailAdded} != null"
								class="alert alert-success" role="alert">
								<p>
									<strong>NEW FRIEND ADDED TO YOUR CONTACTS :</strong> 
								</p>
								<p>
									<span data-th-text="${emailAdded}"> </span> : <span
										data-th-text="${pseudoAdded}"> </span>
								</p>
							</div>
						</a>

						<a href="/contact">
							<div data-th-if="${pseudoDeleted} != null"
								class="alert alert-danger" role="alert">
								<p>
									<strong>FRIEND DELETED TO YOUR CONTACTS :</strong> 
								</p>
								<p>
									<span data-th-text="${emailDeleted}"> </span> : <span
										data-th-text="${pseudoDeleted}"> </span>
								</p>
							</div>
						</a>


						<tr data-th-each="f: ${pseudosFriendsOnly}">
							<td><span data-th-text="${f}"> </span></td>
							<td><a th:href="@{/deletecontact(friend=${f})}">
									<button class="btn btn-danger">DELETE</button>
							</a></td>

						</tr>


					</tbody>
				</table>
	</section>
	<!-- footer>
		<nav class="center" aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li>

				<li class="page-item active"><a href="/contact"
					class="page-link active">1</a></li>
				<li class="page-item"><a
					th:href="@{/page_contact(page=1,size=5) }" class="page-link">2</a></li>
				<li class="page-item"><a
					th:href="@{/page_contact(page=2,size=5) }" class="page-link"> 3</a></li>
				<li class="page-item"><a
					th:href="@{/page_contact(page=3,size=5) }" class="page-link"> 4</a></li>
				<li class="page-item"><a
					th:href="@{/page_contact(page=4,size=5) }" class="page-link"> 5</a></li>

				<li class="page-item"><a
					th:href="@{/page_contact(emailUser=${emailUser},page=1,size=5) }"
					class="page-link">X</a></li>

				<!-- 				<li class="page-item"><a class="page-link" -->
				<!-- 					href="/page_contact?email=${emailUser}page=3&size=5">4</a></li> >
				<!-- 				<li class="page-item"><a class="page-link" -->
				<!-- 					href="/page_contact?email=${emailUser}page=4&size=5">5</a></li> >


				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>
	</footer-->

</body>

</html>