<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Contact</title>

</head>

<body>

	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item"><a class="btn btn-primary" href="/home">PayMyBuddy</a>
			</li>
			<li class="nav-item"><a class="nav-link active"
				aria-current="true" href="/home">Home</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/transfer">Transfer</a></li>
			<li class="nav-item"><a class="nav-link active"
				aria-current="true" href="/profile">Profile</a></li>
			<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
			<li class="nav-item"><a class="nav-link active" href="/logoff">Log off</a></li>
		</ul>
	</div>

	<section>

		<div class="container special">
			<h2 class="h2">CONTACT</h2>
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>EMAIL</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-if="${myContactsOnly.empty}">
							<td colspan="2">No contact added to the database.</td>
						</tr>
						<tr>
							<form method="post" th:action="@{/contact/add}"
								th:object="${friend}">
								<td>
									<div class="form-group">
										<select id="emailFriend" th:field="*{emailFriend}"
											class="form-control">
											<option th:each="c:${allOtherContactsExisting}"
												th:value="${c}" th:text="${c}"></option>
										</select> <small id="mailHelp" class="form-text text-muted">
											Select email address of your new friend. </small>
									</div>
								</td>
							<td><a>
									<button type="submit" class="btn btn-info">ADD</button>
							</a></td>
							</form>
						</tr>
						<tr data-th-each="f: ${myContactsOnly}">
							<td><span data-th-text="${f}"> </span></td>
							<td><a th:href="@{/deletecontact(friend=${f})}">
									<button class="btn btn-danger">DELETE</button>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</section>

</body>

</html>