<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>PauMyBuddy !</title>    

	<!-- Bootstrap CSS --> 
	<link rel="stylesheet" href="css/bootstrap.css"> 
	<link rel="stylesheet" href="css/style.css">
	<!--link rel="stylesheet" href="css/style.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.js"></script-->
	        
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<ul class="navbar navbar-nav">
					<li>Home</li>
					<li>Transfert</li>
					<li>Profile</li>
					<li>Contact</li>
					<li>Log off</li>
				</ul>
			</div>
		</div>

	</header>
	
	<section layout:fragment="content">
	
	</section>
	
	<footer>
		<div class="navbar-fixed-bottom">
			<small>@Paymybody.com</small>
		</div>
	</footer>
	<!--h1 class="h1">Grille !</h1-->

	<!-- table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${user.empty}">
                    <td colspan="3">Aucun employée en base de données</td>
                </tr>
                <tr th:each="usr: ${user}">
                    <td><span th:text="${user.email}"> Email </span></td>
                    <td><span th:text="${user.balance}"> Balance </span></td>
                </tr>
            </tbody>
        </table -->
</body>

</html>