<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="css/mystyle.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Home</title>

</head>
<body>

	<header>
		<div class="header_part1">
			<div>
				<button type="button" class="btn btn-ok">Pay My Buddy</button>
			</div>
			<div class="header_logoff">
				<div class="nav">
					<ul class="nav nav-tabs card-header-tabs">
						<li><a class="nav-link active" href="/home"
							aria-current="true">Home</a></li>
						<li><a class="nav-link" href="/transfer">Transfer</a></li>
						<li><a class="nav-link" href="/profile">Profile</a></li>
						<li><a class="nav-link" href="/contact">Contact</a></li>
						<!-- 					<li><a class="nav-link" href="/logout">Logoff</a></li> // uniquement si crsf de spring security desactivé-->
						<li>
							<form method="post" th:action="@{/logout}">
								<input type="submit" class="nav-link logoff" value="Log off">
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header_part2">
			<p class="py-2 mx-2">Home</p>
		</div>
	</header>



	<div class="container">
		<h2 class="mt-3">HOME</h2>
		<div id="home">
			<div>
				<img class="border" alt="logo_Pay_My_Buddy" src="image/pmb.PNG" />
			</div>
			</br>
			<p>
				Bienvenu '<strong data-th-text="${appUserHome.pseudo}"> </strong>'
				sur l'application "Pay My Buddy".
			</p>
			<p>Vous pouvez effectuer des paiements avec vos amis ou des
				dépôts / retraits depuis votre compte.</p>
		</div>


	</div>

</body>
</html>