<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>Profile</title>

	<!--style>
		body {
			padding-top: 50px;
		}

		.special {
			padding-top: 50px;
		}
	</style-->
</head>

<body>


	<nav class="nav justify-content-center">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="./home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./transfer">Transfer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href=".">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./login">Log off</a>
			</li>
		</ul>
	</nav>

	<section>

		<div class="container special">

			<h2 class="h2">Profile</h2>

			<div class="table-responsive">

				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Email</th>
							<th>Balance</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>

						<tr data-th-if="${appUser.email==null}">
							<td colspan="3">Vous n'êtes pas enregistré dans l'application'</td>
						</tr>

						<tr>
							<td>
								<span data-th-text="${appUser.email}"> </span>
							</td>
							<td>
								<span data-th-text="${appUser.balance}"> </span>
							</td>
							<td>
								<a th:href="@{/deleteappuser(emailUser=${emailUser})}">
									<button class="btn btn-danger">Unsubscribe</button>
								</a>
							</td>
						</tr>

						<tr>
							<form method="post" th:action="@{/updatepassword(emailUser=${emailUser})}"
								th:object="${appUser}">
								<td colspan="2">
									<div class="form-group">
										<input th:field="*{password}" type="password" class="form-control"
											aria-describedby="mailHelp" placeholder="Nouveau mot de passe" />
										<small id="passwordHelp" class="form-text text-muted">
											Merci de saisir un nouveau mot de passe pour la mise à jour.
										</small>
									</div>
								</td>
								<td>
									<a>
										<button type="submit" class="btn btn-info">Update Password</button>
									</a>
								</td>
							</form>
						</tr>

					</tbody>

					<thead>
						<tr>
							<th>Account</th>
							<th>Bank</th>
							<th>Action</th>
						</tr>
					</thead>
					
					<tbody>

						<tr data-th-if="${accounts.empty}">
							<td colspan="3">Aucun compte enregistré dans l'application</td>
						</tr>

						<tr data-th-each="acc:${accounts}">
							<td>
								<span data-th-text="${acc.id}"> </span>
							</td>
							<td>
								<span data-th-text="${acc.bank}"> </span>
							</td>
							<td>
								<a th:href="@{/deleteaccount(emailUser=${emailUser},id=${acc.id})}">
									<button class="btn btn-danger">Delete Account</button>
								</a>
							</td>
						</tr>

						<tr>
							<form method="post" th:action="@{/saveaccount(emailUser=${emailUser})}"
								th:object="${account}">
								<td>
									<div class="form-group">
										<input th:field="*{id}" type="text" class="form-control"
											aria-describedby="mailHelp" placeholder="Nouveau compte" />
										<small id="passwordHelp" class="form-text text-muted">
											Merci de saisir le nouveau compte.
										</small>
									</div>
								</td>
								<td>
									<div class="form-group">
										<input th:field="*{bank}" type="text" class="form-control"
											aria-describedby="mailHelp" placeholder="Nom de la banque" />
										<small id="passwordHelp" class="form-text text-muted">
											Merci de saisir le nom de la banque associé à ce compte.
										</small>
									</div>
								</td>
								<td>
									<a>
										<button type="submit" class="btn btn-info">Save Account</button>
									</a>
								</td>
							</form>
						</tr-->

					</tbody>
				</table>
			</div>
		</div>

	</section>

	<footer> </footer>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

</body>

</html>