<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>template 2 !</title>    

	<!-- ??? CSS --> 
	<link rel="stylesheet" type="text/css" 
	href="css/bootstrap.min.css" 
	th:href="@{/css/bootstrap.min.css}"/> 
	<link rel="stylesheet" type="text/css" 
	href="css/style.css" 
	th:href="@{/css/style.css}"/> 

</head>

<body>
	<header>

		<div class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<ul class="navbar navbar-nav">
					<li href="#">Home</li>
					<li href="#">Transfert</li>
					<li href="#">Profile</li>
					<li href="#">Contact</li>
					<li href="index.html">Log off</li>
				</ul>
			</div>
		</div>

	</header>

	<section>

	</section>

	<footer>
		<div class="navbar-fixed-bottom">
			<small>@Paymybody.com</small>
		</div>
	</footer>

</body>

</html>